@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/variables';

.Venue {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;

  h1 {
    margin-bottom: 5rem;
  }

  .venues {
    text-align: center;
    width: 90%;
    margin: 0 auto 2rem;
    display: flex;

    @include respond(phone) {
      flex-direction: column;
    }

    .venueItem {
      img {
        width: 12rem;
        margin-bottom: 1.5rem;
      }

      h3 {
        margin-bottom: 1rem;
      }

      &:not(:last-child) {
        margin-right: 2rem;

        @include respond(phone) {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
    }
  }

  .rsv {
    width: 90%;
    margin: 0 auto;

    h2 {
      margin-bottom: 4rem;
    }

    .info {
      display: flex;
      margin-bottom: 5rem;

      @include respond(phone) {
        flex-direction: column;
      }

      .data {
        flex: 1;
        text-align: center;
        padding: 2rem 0 2rem;

        h3 {
          margin-bottom: 1rem;
        }

        a {
          color: $color-secondary;
          text-decoration: none;
        }

        &:not(:last-child) {
          border-right: 1px solid #aa4e6c;

          @include respond(phone) {
            border-right: none;
            // border-bottom: 1px solid #aa4e6c;
          }
        }
      }
    }
  }
}
