$color-primary: #fcf2f5;
$color-secondary: #25283d;
$color-accent: #bc013d;
$color-red: #651a32;

$color-white: #fff;

$color-grey-1: #555;
$color-grey-2: #999;
$color-grey-3: #eee;

$primary-font: 'Pacifico', cursive;
$secondary-font: 'Source Sans Pro', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;
