@import '../../sass/abstracts/mixins';

.About {
  margin-top: 20rem;
  display: flex;

  @include respond(tab-port) {
    margin-top: 15rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }

  .content {
    flex: 1;
    margin-left: 8rem;
    margin-top: 8rem;
    padding-right: 10rem;

    @include respond(tab-land) {
      margin-top: 4rem;
      margin-left: 4rem;
      padding-right: 6rem;
    }

    @include respond(tab-port) {
      margin-top: 2rem;
      padding-right: 4rem;
    }

    @include respond(phone) {
      padding-right: 0;
      margin: 2rem 2.5rem 5rem;
    }

    .heading {
      margin-bottom: 1rem;

      .ml {
        margin-left: 12rem;

        @include respond(tab-land) {
          margin-left: 4rem;
        }
      }
    }
  }

  .composition {
    flex: 0.8;

    @include respond(tab-land) {
      flex: 1;
    }

    img {
      width: 100%;
    }
  }
}
